:root{/*自变量定义*/
    --box-h: 220px;
}
/*var(--body)*/
/*var(--body,#666)默认值，变量不存在用默认值*/
/* cala(var(--num)*1px) 计算属性*/
*{
	margin: 0px;
	padding: 0px;
	/*user-select: none;*/
}
::selection{
	background-color: #fa0;
}
body{
	/*background: url(https://api.dongmanxingkong.com/suijitupian/acg/1080p/index.php);*/
	/*background: url(https://api.yuzhitu.cn//sjbz/api.php?method=pc&lx=suiji);*/
	/*background-image: url(../img/1.jpg);
	background: url(https://cdn.seovx.com/?mom=302);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center top;*/
}
/*body::-webkit-scrollbar{
	display: none;
}*/
.background{
	position: fixed;
	width: 100%;
	height: 100%;
	filter: blur(5px);
	background: url(../img/1.jpg);
	/*background-color: #e1be9e;*/
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: -1;
}
.wrapper{
	width: 100%;
	display: flex;
	flex-direction: column;
}
.header{
	margin-top: 30px;
	height: 160px;
}
.header-title{
	width: 440px;
	text-align: center;
	margin: 0 auto;
	font-size: 5em;
	color: #fff;
	font-weight: 700;
	text-shadow: 0px 0px 8px #0280CB;
	user-select: none;
}
.header-sign{
	text-align: center;
	margin: 10px auto;
	font-size: 1.2em;
	color: #fff;
	text-shadow: 0px 0px 8px #0280CB;
}
.sign_a{
	text-decoration: none;
}
.sign_a:link,
.sign_a:visited{
	color: #fff;
}


.main{
	display: flex;
	flex-direction: column;
	height: 100%;
}


.searchbar{
	width: 440px;
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	text-align: center;
	user-select: none;
}
[class*='searchbar-'] td:hover{
	border-radius: 15px;
	background-color: #369;
}
.searchbar-type{
	width: 440px;
	line-height: 30px;
	color: #fff;
	text-shadow: 0px 0px 2px #369;
	border-radius: 15px;
	margin: 5px auto;
	cursor: pointer;
}
.type-list,
.list-arrow>table{
	width: 360px;
	margin: 0px auto;
}
.list-arrow{
	height: 5px;
	margin: 8px auto -6px auto;
	text-align: center;
	text-shadow: 0px 0px 2px #369;
}
.choose,
.active{
	border-radius: 15px;
	background-color: #19c;
}
.arrow:before{
	content: '';
	border: 10px solid transparent;
	border-top-color: #19c;
}
.searchbar-weblist{
	width: 400px;
	line-height: 30px;
	color: #fff;
	text-shadow: 0px 0px 2px #369;
	background-color: #0005;
	border-radius: 15px;
	margin: 5px auto;
	cursor: pointer;
}
.weblist-search td,
.weblist-video td,
.weblist-music td,
.weblist-analysis td{
	width: 100px;
}
.searchbar-frame{
	width: 440px;
	height: 35px;
	margin: 10px auto;
	/*background-color: #fff7;*/
}
.searchbar-frame a{
	text-decoration: none;
}
.frame-input{
	height: 35px;
	width: 80%;
	max-width: 400px;
	outline-style: none;
	/*appearance: none;*/
	border: 0px;
	font-size: 18px;
	color: #fff;
	padding: 0px 20px;
	border-radius: 20px;
	border-top-right-radius: 0px; 
	border-bottom-right-radius: 0px; 
	background: rgba(52, 61, 70, 0.3);
}
.frame-input::-webkit-input-placeholder{
	color: #fffd;
}
.frame-input:hover{
	background: rgba(52, 61, 70, 0.5);
}
.frame-input:focus{
	box-shadow: inset 0 3px 3px rgba(0,0,0,.075),0 0 8px rgba(2, 128, 203,.6);
}
.frame-icon{
	display: inline-block;
	height: 35px;
	width: 80px;
	/*background: rgba(52, 128, 203, 0.5);*/
	background: #172A3977;
	text-align: center;
	vertical-align: top;
	margin-left: -5px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
.frame-icon:hover{
	background-color: #1D99DDbb;
}
.frame-icon .icon-sousuo:before{
	font-size: 20px;
	text-align: center;
	vertical-align: -0.36em;
	color: #fff;
	margin-top: 5px;
}







.toolbox{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	/*background-color: #fff;*/
	margin: 0 auto;
	text-align: center;
	user-select: none;
}
[class*='nav-']{
	display: inline-block;
	width:30vw;
	height: var(--box-h);
	margin: 16px 15px;
	/*border: solid #19c7 2px;*/
	border-radius: 15px;
	background-color: #19c7;
	overflow: auto;
	position: relative;
}
[class*='nav-']::-webkit-scrollbar{
	display: none;
}
[class*='nav-']:hover{
	/*border: solid #0007 2px;*/
	background-color: #0007;
	transition-duration: 0.2s;
}
.navtitle{
	width: 100%;
	height: 40px;
	line-height: 40px;
	margin:  0 0 5px 0px;
	text-align: center;
	color:#fff;
	font-size: 24px;
	font-weight: bold;
	border-bottom: solid #fff7 1px;
	user-select: none;
}
.navlist a{
	text-decoration: none;
}
.navlist a:link,
.navlist a:visited{
	color: #fff;
}

.navhelp:nth-child(2):link,
.navhelp:nth-child(2):visited,
.navedit:nth-child(3):link,
.navedit:nth-child(3):visited{
	display: inline;
	color: #ccc;
}
.navhelp:nth-child(2):hover,
.navedit:nth-child(3):hover{
	color: #fff;
	cursor: pointer;
}
.navhelp{
	color: #ccc;
	position: absolute;
	right: 60px;
	top: 10px;
	cursor: pointer;
}
.navedit{
	color: #ccc;
	position: absolute;
	right: 20px;
	top: 10px;
	cursor: pointer;
}

.nav_d{
	display: inline-block;
	width: 6rem;
	height: 1.8rem;
	line-height: 1.8rem;
	margin: 3px 5px;
}
.nav_add{
	display: inline-block;
	width: 6rem;
	height: 1.8rem;
	line-height: 1.8rem;
	margin: 3px 5px;
	border-radius: 3rem;
	color: #fff;
	background-color: #fa0;
}
.nav_add:hover{
	background-color: #f70;
	cursor: pointer;
}
.ndd-table-mask{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}
.ndd-table{
	width: 18vw;
	width: 18vw;
	height: 18vh;
	min-width: 280px;
	font-size: 20px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: #19c;
	border-radius: 15px;
}
[class*='ndd-t-']{
	height: 33%;
	line-height: 50px;
	vertical-align: middle;
	text-align: center;
	margin: 0px auto;
	color: #fff;
}
.ndd-t-name{
	margin-top: 5px;
}
.ndd-t-input{
	height: 35px;
	width: 200px;
	max-width: 250px;
	outline-style: none;
	/*appearance: none;*/
	border: 0px;
	font-size: 16px;
	color: #fff;
	padding: 0px 20px;
	border-radius: 10px;
	background: rgba(52, 61, 70, 0.3);
}
.ndd-t-input::-webkit-input-placeholder{
	color: #fff5;
}
.ndd-t-input:hover{
	background: rgba(52, 61, 70, 0.7);
}
.ndd-t-input:focus{
	box-shadow: inset 0 3px 3px rgba(0,0,0,.075),0 0 8px rgba(2, 128, 203,.6);
}
.ndd-t-btn{
	height: 33%;
}
.btn-button{
	width: 80px;
	height: 30px;
	font-size: 16px;
	outline-style: none;
	margin: 0px 10px;
	border: 0;
	border-radius: 15px;
	cursor: pointer;
}
.btn-button::-webkit-input-placeholder{
	color: #fff;
}
.btn-button:hover{
	background: #526170;
	color: #fff;
}
.btn-button:focus{
	box-shadow: inset 0 3px 3px rgba(0,0,0,.075),0 0 8px rgba(2, 128, 203,.6);
}




.nav_d:hover,.nav_a:hover,
.nav_a1:hover,.nav_a2:hover,
.nav_an:hover
{
	border-radius: 3rem;
	background-color: #19c;
}
.nav_a1,.nav_a2,
.nav_a,.nav_an
{
	display: inline-block;
	width: 6rem;
	height: 1.8rem;
	line-height: 1.8rem;
	margin: 3px 5px;
	border-radius: 3rem;
	background-color: #369;
	color: #fff;
	cursor: pointer;
}



.toolbox-nav{
	min-width: 440px;
}
.toolbox-more{/*Show More*/
	display: none;
}
[class*='morebtn-']{
	width: 10vw;
	min-width: 100px;
	height: 36px;
	line-height: 36px;
	font-weight: bold;
	margin: 0px auto;
	font-size: 20px;
	border-radius: 6px;
	color: #fff;
	background-color: #19c;
	cursor: pointer;
}
[class*='morebtn-']:hover{
	background-color: #369;
}




.toolbox-theme{
	display: flex;
	flex-direction: column;
	width: 100%;
	min-width: 440px;
	margin: 20px auto;
	user-select: none;
}
.theme-pic{
	display: inline-block;
	margin: 0 auto;
	width: 30vw;
	min-width: 400px;
	height: auto;
	z-index: 1;
}
.theme-pic img{
	width: 30vw;
	min-width: 400px;
	border-radius: 15px;
	cursor: pointer;
}
.theme-button{
	margin: 0 auto;
	color: #fff;
	background-color: #19cd;
	width: 14vw;
	min-width: 100px;
	height: 40px;
	line-height: 40px;
	margin-top: -4px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	cursor: pointer;
}
.theme-button:hover{
	background-color: #369;
}
.theme-refresh,
.theme-download{
	display: inline-block;
	width: 6vw;
	min-width: 42px;
}



.notice{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1;
}
.notice-mask{
	height: 100%;
	width: 100%;
	background-color: #0009;
	position: fixed;
}
.notice-content{
	width: 500px;
	text-align: center;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	transition: all 0.5s;
}
.nc-title{
	height: 60px;
	line-height: 60px;
	font-size: 30px;
	font-weight: bold;
	color: #fff;
	background-color: #19c;
	user-select: none;
	border-top-left-radius: 30px; 
	border-top-right-radius: 30px; 
}
.nc-list{
	/*background-color: #19c;*/
	background-color: #adf;
}
.nc-frame{
	width: 100%;
	height: 300px;
}
.nc-check{
	height: 30px;
	line-height: 30px;
	color: #fff;
	background-color: #19c;
	user-select: none;
	border-bottom-left-radius: 30px; 
	border-bottom-right-radius: 30px; 
}
.nc-check input{
	display: none;
}
.nc-check input:checked+label::before{
	display: inline-block;
	content: '\2714';
	border: 1px solid #999;
	border-radius: 4px;
	width: 18px;
	height: 18px;
	font-size: 26px;
	line-height: 10px;
	text-align: center;
	vertical-align: middle;
	color: #fff;
	border-color: #0af;
	background-color: #0af;
}
.nc-check input+label::before{
	display: inline-block;
	content: '';
	border: 1px solid #ddd;
	border-radius: 4px;
	width: 18px;
	height: 18px;
	margin: 0px 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #fff;
}
.nc-check label:hover:before{
	border-color: #0af;
}


.nc-tip{
	height: 30px;
	line-height: 30px;
	color: #fff;
	user-select: none;
}

.footer{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
}
.footer-head{
	margin: 0 auto;
	background-color: #545e68;
	width: 100%;
	min-width: 440px;
	height: 45px;
	text-align: center;
	color: #fff;
	font-size: 1.2rem;
	line-height: 45px;
	cursor: pointer;
}
.footer-body{
	display: none;
	width: 100%;
	min-width: 440px;
	background-color: #343d46;
}
[class*='fb-']{
	color: #fff;
	text-align: center;
	margin: 5px auto;
	user-select: none;
}
[class*='fb-'] a,
[class*='fb-'] a:link,
[class*='fb-'] a:visited
{
	text-decoration: none;
	color: #fff;
}
[class*='fb-'] a:hover{
	color: #19c;
}
[class*='fblink-']{
	margin: 5px auto;
}
.fbline{
	margin: 0px 10px;
	color: #bbb;
}

@media only screen and (max-width: 1920px){
	[class*='nav-']{
		width: 28vw;
	}
	.header-title{
		font-size: 5em;
	}
	.header-sign{
		font-size: 1.4em;
	}
}
@media only screen and (max-width: 1200px){
	[class*='nav-']{
		width: 43vw;
	}
	.header-title{
		font-size: 4.5em;
	}
	.header-sign{
		font-size: 1.3em;
	}
}
@media only screen and (max-width: 700px){
	[class*='nav-']{
		width: 90vw;
		min-width: 410px;
	}
	.header-title{
		font-size: 4em;
	}
	.header-sign{
		font-size: 1.2em;
		min-width: 440px;
	}
	.notice-content{
		width: 80vw;
		min-width: 350px;
		text-align: center;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		transition: all 1s;
	}
}
@media print{
	.no_print{
		display: none;
	}
}
